<template>
    <div class="wrapper menu-container">
        <div class="row">
            <div class="col-md-8">
                <card-component>
                    <template slot="title">My Dashboard</template>
                    <template slot="body">Category List goes here</template>
                </card-component>    
            </div>
            <div class="col-md-4">
                <card-component>
                    <template slot="title">My Dashboard</template>
                    <template slot="body">Category List goes here</template>
                </card-component> 
            </div>
        </div>
    </div> 
</template>
<script>
export default {
    
}
</script>
